/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Set font */
html {
  font-family: Arial, Helvetica, sans-serif;
}

/* Common */
.row {
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
}

.col {
  padding-left: 8px;
  padding-right: 8px;
}

.col-full{
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
}

.col-hafl {
  width: 50%;
}

.col-third {
  width: 33.33333%;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 46px;
  background-color: black;
  z-index: 100;
  box-shadow: 0 0 10px #000;
}

.nav {
  display: inline-block;
  font-size: 0px;
}

.nav > li {
  display: inline-block;
}

.nav li a {
  text-decoration: none;
  font-size: 16px;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

.nav li:hover > a,
.sub-nav li:hover a {
  color: #000;
  background-color: #ccc;
}

.nav > li > a {
  color: white;
}

.nav .nav-arrow-down {
  font-size: 14px;
}

.sub-nav {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 3px #ccc;
  display: none;
}

.nav li:hover .sub-nav {
  display: block;
}

.sub-nav li {
  list-style: none;
}

.nav .sub-nav a {
  color: #000;
  display: block;
}

#header .search {
  float: right;
}

#header .icon-search {
  font-size: 20px;
  color: white;
  line-height: 46px;
  padding: 0 21px;
}

#header .search:hover {
  background-color: #f44336;
  cursor: pointer;
}

/* Slider */
#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url("/TheBand/assets/img/slider/chicago.jpg") top center / cover
    no-repeat;
}
#slider .text {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  text-align: center;
  padding: 32px;
}
#slider p {
  padding: 12.5px;
  color: white;
}
#slider .heading-text {
  font-size: 24px;
}

#slider .sub-heading-text {
  font-size: 15px;
  font-weight: 700;
}

/* Content */

#content .content-section {
  padding: 64px 0;
  width: 800px;
  margin: auto;
}

#content .section-heading {
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 4px;
  text-align: center;
  margin: 25px 0;
}

#content .section-sub-heading {
  text-align: center;
  line-height: 1.5;
  opacity: 0.5;
  font-size: 15px;
  font-style: italic;
  margin: 0 0 15px;
}

#content .about-text {
  text-align: justify;
  margin-bottom: 15px;
  line-height: 1.5;
}

#content .member {
  justify-content: space-around;
  text-align: center;
  padding-top: 47px;
}

#content .name-member {
  margin: 15px;
}

#content .img-member {
  width: 154px;
  border-radius: 4px;
}

/* Tour section */
.tour-dates {
  background-color: black;
}
.tour-dates .section-heading,
.tour-dates .section-sub-heading {
  color: white;
}
.tour-dates .cart {
  background-color: white;
  list-style: none;
}

.tour-dates .cart-list {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  color: rgba(0,0,0,0.7)
}

.tour-dates .cart-list .sold-out {
  padding: 3px 5px;
  margin: auto 16px;
  background-color: #f44336;
  color: white;
}

.tour-dates .cart-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 24px;
  border-radius: 100%;
  margin: -3px;
}

.place-list {
  margin-top: 32px;
  margin-bottom: 25px;
}

.place-img {
  display: block;
  width: 100%;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  padding: 16px;
  font-size: 15px;
  background-color: white;
}

.place-heading {
  font-size: 15px;
}

.place-time {
  padding: 15px 0;
  opacity: 0.6;
}

.place-des {
  padding: 15px 0;
}

.place-buy-btn {
  text-decoration: none;
  padding: 8px 16px;
  background-color: black;
  color: white;
  display: inline-block;
  cursor: pointer;
  border: none;
}

.place-buy-btn:hover {
  background-color: #ccc;
  color: black;
}

/* Contact */
.contact-content{
  padding: 25px 0;
}

.contact-info{
  font-size: 18px;
  line-height: 1.5;
}

.contact-info i[class*="ti-"]{
  width: 30px;
  display: inline-block;
}

.contact-form{
  font-size: 15px;
}

.contact-form .form-control{
  padding: 10px;
  border: solid 1px #ccc;
  width: 100%;
  cursor: pointer;
}

.form-submit{
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 10px 16px;
  float: right;
}

i.form-control:hover {
  background-color: #ccc;
  color: black;
}

/* Footer */
#footer{
  padding: 64px 16px;
}

.map-section img{
  width: 100%;
  filter: grayscale(50%);
}

.social-list{
  text-align: center;
  font-size: 24px;
}

.social-list a{
color: rgba(0, 0, 0, 0.6);
text-decoration: none;
}

.social-list a:hover{
  opacity: 0.6;
}

.copyright{
text-align: center;
color: rgba(0, 0, 0, 0.6);
padding: 15px 0;
}





